/* Styling for profile page */
.profile-header {
    text-align: center;
    padding: 10px;
    background-color: #948787;
    margin-bottom: 15px;
    border-radius: 18px;
}

.profile-header h1 {
    font-size: 15px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.profiles {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: darkslategrey;
    border-radius: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px
}

.profile {
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 100px;
    text-align: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 auto 10px
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info h2 {
    font-size: 20px;
    margin: 5px 0;
}

.profile-info p {
    font-size: 14px;
}

/* ... Sebelumnya CSS lainnya ... */
.social-button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.instagram-username {
    font-size: 12px;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
/* ... Lanjutan CSS lainnya ... */

.social-button img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

@media (max-width: 500px) {
    .profiles {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  

/* ... Rest of the CSS ... */
